@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    font-family: 'Open Sans', open sans;
    margin: 0px;
}

body{
    background-image: linear-gradient(to right, #ECA9CA, #31AACE);
  }

aside{
    background-color: black;
    color: white;
    position: sticky !important;
    height:  100vh !important;
    width: 10%;
    margin-top: 0%;
}

.navbar, .main, .footer{
    margin-left: 10%;
}


.navbar{
    grid-area: navbar; 
    background-color: aquamarine;

}

.main{
    grid-area: main; 
    background-color: blue;
}

.footer{
    grid-area: footer; 
    background-color: #ECA9CA;
}

img{
    width: 10%;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: white !important;
}
.top{
    margin-bottom: 100%;
    margin-top: 10%;
}

.bottom{
    color: white;
}